.multiple-questions {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__options {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .label {
    color: var(--text_c_subdued);
  }

  .multiple-question-option {
    display: flex;
    flex-direction: row;
    gap: 10px;

    &__image {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 60px;
      width: 65px;

      .preview .upload-area__add-icon {
        display: flex;
      }

      .upload-area__add-icon {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        display: none;
      }
    }

    &__toggle,
    &__remove {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 44px;
    }

    .inputWrapper {
      width: 100%;
    }
  }
}
