.dropdown-container {
  position: relative;
  display: flex;
  flex-direction: column;

  .selected-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 6px;
    padding: 6px 0;
  }

  .selected-item {
    border-radius: 6px;
  }

  .dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    border: var(--border_primary) var(--border_c_primary);
    border-radius: 8px;
    background-color: var(--bg_c_secondary);
    box-shadow: var(--drop_shadow);
    padding: 4px;
    z-index: 1;
    top: 100%;
    left: 0;
    margin-top: 4px;

    .dropdown-checkbox {
      padding: 6px 8px;
    }
  }
}

.input-showAddButton {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;

  .inputWrapper {
    width: 100%;
  }
}
