.checkbox_wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: inherit;
  position: relative;
  cursor: pointer;
  user-select: none;

  &--disabled {
    cursor: not-allowed;
    opacity: var(--disabled_opacity);
  }
}

.checkbox_input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox_custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  background-color: var(--bg_c_secondary);
  border: var(--border_checkbox) var(--border_c_primary);
  border-radius: 4px;
  transition: all 0.2s ease;

  svg {
    display: none;
  }

  .checkbox_input:checked + & {
    background-color: var(--bg_c_accent);
    border: 0;

    svg {
      display: block;
    }
  }

  .checkbox_input:checked + &:hover {
    background_color: var(--bg_c_accent_hover);
    border: 0;
  }

  .checkbox_input:checked + &:active,
  .checkbox_input:checked + &:focus,
  .checkbox_input:checked + &:focus-visible,
  .checkbox_input:checked + &:focus-within {
    background-color: var(--bg_c_accent_active);
    border: 0;
  }

  &:hover {
    background-color: var(--bg_c_secondary_hover);
  }

  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    background-color: var(--bg_c_secondary_active);
  }

  .checkbox_input:disabled + &,
  .checkbox_input:disabled + &:hover,
  .checkbox_input:disabled + &:focus,
  .checkbox_input:disabled + &:focus-visible,
  .checkbox_input:disabled + &:focus-within,
  .checkbox_input:disabled + &:active {
    cursor: not-allowed;
    background-color: var(--bg_c_secondary);
  }

  .checkbox_input:checked:disabled + &,
  .checkbox_input:checked:disabled + &:hover,
  .checkbox_input:checked:disabled + &:focus,
  .checkbox_input:checked:disabled + &:focus-visible,
  .checkbox_input:checked:disabled + &:focus-within,
  .checkbox_input:checked:disabled + &:active {
    cursor: not-allowed;
    background-color: var(--bg_c_accent);
    border: 0;
  }
}

.checkbox_label,
.checkbox_label_string {
  margin: 0;
  color: var(--text_c_primary);
  cursor: pointer;
  width: var(--width_text_ellipsis);
}

.checkbox_label {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}
