.switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--border_primary) var(--border_c_primary);
  border-radius: 12px;
  padding: 10px 20px;
  overflow: hidden;
  gap: 20px;
  height: 44px;
  box-shadow: var(--drop_shadow);
  background-color: var(--bg_c_secondary);

  &__option {
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: var(--semi_bold);
    font-size: var(--fs_l);
    line-height: var(--lh_xl_l);
    border-bottom: var(--border_bottom) transparent;
    height: 44px;

    &:hover {
      background-color: var(--bg_c_secondary) !important;
      border-bottom: var(--border_bottom) var(--border_bottom_c_hover);
    }

    &:hover p {
      color: var(--text_c_subdued_hover) !important;
    }

    &--active {
      border-bottom: var(--border_bottom) var(--border_bottom_c_secondary);
      margin: 0 0 3px 0;
    }

    &--active p {
      color: var(--text_c_primary) !important;
    }
  }

  &__option p {
    font-weight: var(--semi_bold);
    font-size: var(--fs_l);
    line-height: var(--lh_xl_l);
    color: var(--text_c_primary_60);
  }

  // ----------------------------------------
  // Адаптивность для мобильных устройств (до 480px)
  @media (max-width: 880px) {
    flex-direction: column;
    gap: 10px;
    height: auto;
  }
}
