.context-menu {
  position: absolute;
  z-index: 1000;
  user-select: none;
  margin: 4px 0 0 0;
  padding: 0;
  // top: 24px; //Возможно надо, а возможно нет
  // right: 0;

  &__box {
    padding: 4px;
    gap: 6px;
  }
}
