.event-banner {
  position: relative;
  display: flex;
  padding: 80px 15vw;
  background-color: var(--bg_c_image); // запасной цвет, если нет фона
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--text_c_primary);
  overflow: hidden;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--text_c_secondary);
  }

  &__info-rows {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__info-row {
    display: flex;
    align-items: center;
    gap: 10px;

    &-icon {
      height: 100%;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  @media (max-width: 900px) {
    flex-direction: column;

    &__content {
      max-width: 100%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
