.questCreateMainData {
  display: flex;
  flex-direction: row;
  gap: 30px;

  &--left,
  &--right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 0;
  }

  &--inputsMini {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
