.email_confirm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 80px 15vw;

  &__container {
    max-width: 500px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: var(--text_c_primary);

    p {
      color: var(--text_c_subdued);
    }

    @media (max-width: 400px) {
      p,
      h4 {
        word-break: break-all;
      }
    }
  }

  &__code {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &--label {
      color: var(--text_c_subdued);
    }

    &--inputs {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    &--input {
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 20px;
      border-radius: 6px;
      border: 2px solid var(--bg_c_accent);
      color: var(--text_c_primary);
    }
  }
  &__error {
    text-align: center;
    color: var(--text_c_error);
  }
}
