.employeeInfo_containerBoxs {
  &--right {
    width: 350px !important;

    .inputWrapper {
      min-width: 310px;
    }
  }

  @media (max-width: 1270px) {
    &--right {
      width: 100% !important;
  
      .inputWrapper {
        min-width: 100% !important;
      }
    }
  }
}

.employeeInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 100%;

  .inputWrapper {
    min-width: 310px;
  }
}
