.quest-create-questions {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.add-question-context-menu {
  .item_selected {
    background-color: var(--bg_c_secondary);

    &:hover {
      background-color: var(--bg_c_secondary_hover);
    }
  }
}
