.icon {
  display: inline-block;
  // Sizes
  &--extra_large {
    width: 36px;
    height: 36px;
  }

  &--large {
    width: 30px;
    height: 30px;
  }

  &--small {
    width: 20px;
    height: 20px;
  }

  &--extra_small {
    width: 16px;
    height: 16px;
  }

  // Colors

  &--color-primary {
    color: var(--text_c_secondary);
  }

  &--color-secondary {
    color: var(--text_c_primary);
  }

  &--color-accent {
    color: var(--text_c_secondary);
  }

  &--color-subdued {
    color: var(--text_c_accent);
  }

  &--color-soft-blue {
    color: #BAD9FA;
  }

  &--color-neutral {
    color: var(--text_c_subdued);
  }
}

