.icon {
  display: inline-block;
  min-width: fit-content;
  // Colors
  &--primary {
    color: var(--text_c_secondary);
  }

  &--secondary {
    color: var(--text_c_primary);
  }

  &--accent {
    color: var(--text_c_secondary);
  }

  &--subdued {
    color: var(--text_c_accent);
  }

  &--soft-blue {
    color: #bad9fa;
  }

  &--neutral {
    color: var(--text_c_subdued);
  }
}
