.table-edit__table {
  border-collapse: collapse;
  width: 100%;
  min-width: max-content;

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    text-align: left;
    // white-space: nowrap;
    min-width: 240px;
    background: #fff;
    z-index: 1;
  }

  thead th {
    position: sticky;
    top: 0;
    background: var(--bg_c_gray_secondary); /* или #fff */
    z-index: 10;
    padding: 18px 10px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.1);
  }

  .table-edit__thead-sticky {
    z-index: 20 !important;
    background-color: var(--bg_c_gray_secondary) !important;
  }

  .table-edit__sticky-col-left {
    position: sticky;
    left: 0;
    z-index: 11; /* выше, чем у обычных th */
    background: var(--bg_c_secondary);
    box-shadow:
      -2px 0 5px -2px rgba(0, 0, 0, 0.1),
      inset 0 1px 0 #eee;
  }

  .table-edit__sticky-col-right {
    position: sticky;
    right: 0;
    z-index: 11;
    background: var(--bg_c_secondary);
    box-shadow:
      -2px 0 5px -2px rgba(0, 0, 0, 0.1),
      inset 0 1px 0 #eee;
  }

  th.table-edit__checkbox-col,
  td.table-edit__checkbox-col {
    width: 40px;
    min-width: 40px;
    text-align: center;
    padding: 10px;
    z-index: 12;
  }

  th.table-edit__actions-col,
  td.table-edit__actions-col {
    width: 50px;
    min-width: 50px;
    text-align: center;
    padding: 10px;
    z-index: 12;
  }
}

.table-edit {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__filters {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    &-empty {
      width: 60px;
      min-width: 60px;
      padding: 10px;
    }

    &-cell {
      padding: 10px;
      min-width: 240px;
      width: 100%;
    }
  }

  &__table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    border: var(--border_primary) var(--border_c_primary);
    border-radius: 10px 10px 0 0;
    background-color: var(--bg_c_secondary);
    height: 500px;
  }

  &__no-data {
    padding: 18px 70px !important;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: var(--bg_c_secondary);
    border-top: 0 !important;
    border: var(--border_primary) var(--border_c_primary);
    padding: 10px;

    &-text {
      color: var(--text_c_subdued);
    }
  }

  &__add-row {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    border-radius: 0 0 10px 10px;
    border-top: 0 !important;
    border: var(--border_primary) var(--border_c_primary);
    background-color: var(--bg_c_secondary);

    &-empty {
      width: 60px;
      min-width: 60px;
      padding: 10px;
    }

    &-cell {
      min-width: 240px;
      padding: 10px;
      width: 100%;

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        background-color: var(--bg_c_secondary);
        width: 50px;
        min-width: 50px;
        top: 0;
        right: 0;
      }
    }
  }
}
