.user-info {
  display: flex;
  align-items: center;
  gap: 6px;

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: var(--text-c-primary);
  }

  &__position {
    color: var(--text_c_subdued);
  }
}
